{% include 'breadcrumb' %}
<!-- <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0602/4976/8102/files/team.css?v=1674175257"> -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Style sheet -->
<!-- Google Fonts -->
<!-- FOnt Awesome -->
<script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Style sheet -->
<!-- Google Fonts -->
<!-- FOnt Awesome -->
<script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{{ 'team-camber-styles.css' | asset_url }}">

<h1>Team Camber</h1>
<div class="team-members">
  <div class="member">
    <a href="https://bing.com">
      <img
        src="https://cdn.shopify.com/s/files/1/0602/4976/8102/files/Tanner.jpg?v=1674102821"
        alt="Tanner McCartney"
        class="player-img"
      >
    </a>
    <div class="container">
      <h3 class="fit-content no-margin">
        Tanner <br>
        McCartney
      </h3>
      <p class="fit-content no-margin">PDGA #97556</p>
      <p></p>
    </div>
  </div>
  <div class="member">
    <a href="https://bing.com">
      <img
        src="https://cdn.shopify.com/s/files/1/0602/4976/8102/files/Tanner.jpg?v=1674102821"
        alt="Tanner McCartney"
        class="player-img"
      >
    </a>
    <div class="container">
      <h3 class="fit-content no-margin">
        Tanner <br>
        McCartney
      </h3>
      <p class="fit-content no-margin">PDGA #97556</p>
      <p></p>
    </div>
  </div>
  <div class="member">
    <a href="https://bing.com">
      <img
        src="https://cdn.shopify.com/s/files/1/0602/4976/8102/files/Tanner.jpg?v=1674102821"
        alt="Tanner McCartney"
        class="player-img"
      >
    </a>
    <div class="container">
      <h3 class="fit-content no-margin">
        Tanner <br>
        McCartney
      </h3>
      <p class="fit-content no-margin">PDGA #97556</p>
      <p></p>
    </div>
  </div>
  <div class="member">
    <a href="https://bing.com">
      <img
        src="https://cdn.shopify.com/s/files/1/0602/4976/8102/files/Tanner.jpg?v=1674102821"
        alt="Tanner McCartney"
        class="player-img"
      >
    </a>
    <div class="container">
      <h3 class="fit-content no-margin">
        Tanner <br>
        McCartney
      </h3>
      <p class="fit-content no-margin">PDGA #97556</p>
      <p></p>
    </div>
  </div>
  <div class="member">
    <a href="https://bing.com">
      <img
        src="https://cdn.shopify.com/s/files/1/0602/4976/8102/files/Tanner.jpg?v=1674102821"
        alt="Tanner McCartney"
        class="player-img"
      >
    </a>
    <div class="container">
      <h3 class="fit-content no-margin">
        Tanner <br>
        McCartney
      </h3>
      <p class="fit-content no-margin">PDGA #97556</p>
      <p></p>
    </div>
  </div>
  <div class="member">
    <a href="https://bing.com">
      <img
        src="https://cdn.shopify.com/s/files/1/0602/4976/8102/files/Tanner.jpg?v=1674102821"
        alt="Tanner McCartney"
        class="player-img"
      >
    </a>
    <div class="container">
      <h3 class="fit-content no-margin">
        Tanner <br>
        McCartney
      </h3>
      <p class="fit-content no-margin">PDGA #97556</p>
      <p></p>
    </div>
  </div>
  <!--
    <div class="member">
      <div>
        <a href="https://bing.com">
          <img
            src="https://cdn.shopify.com/s/files/1/0602/4976/8102/files/Sam.jpg?v=1674102821"
            alt="Sam Hockenberry"
          >
        </a>
        <div class="container">
          <h2>
            Sam <br>
            Hockenberry
          </h2>
          <p class="title">PDGA #144433</p>
          <p></p>
        </div>
      </div>
    </div>
  -->
  <!--
    <div class="member">
      <div>
        <a href="https://bing.com">
          <img
            src="https://cdn.shopify.com/s/files/1/0602/4976/8102/files/Tanner.jpg?v=1674102821"
            alt="Tanner McCartney"
          >
        </a>
        <div class="container">
          <h2>
            Hunter <br>
            Robbins
          </h2>
          <p class="title">PDGA #117936</p>
          <p></p>
        </div>
      </div>
    </div>
    <div class="member">
      <div>
        <a href="https://bing.com">
          <img
            src="https://cdn.shopify.com/s/files/1/0602/4976/8102/files/Andrew.png?v=1674102821"
            alt="Andrew Greenslade"
          >
        </a>
        <div class="container">
          <h2>
            Billy <br>
            Herman
          </h2>
          <p class="title">PDGA #144916</p>
          <p></p>
        </div>
      </div>
    </div>
    <div class="member">
      <div>
        <a href="https://bing.com">
          <img
            src="https://cdn.shopify.com/s/files/1/0602/4976/8102/files/Mark.jpg?v=1674102821"
            alt="Mark Fedorenko"
          >
        </a>
        <div class="container">
          <h2>
            Hannah <br>
            Campbell
          </h2>
          <p class="title">PDGA #154010</p>
          <p></p>
        </div>
      </div>
    </div>
    <div class="member">
      <div>
        <a href="https://bing.com">
          <img
            src="https://cdn.shopify.com/s/files/1/0602/4976/8102/files/Sam.jpg?v=1674102821"
            alt="Sam Hockenberry"
          >
        </a>
        <div class="container">
          <h2>
            Baleigh <br>
            Hopkins
          </h2>
          <p class="title">PDGA #137452</p>
          <p></p>
        </div>
      </div>
    </div>
  -->
</div>
