{% include 'breadcrumb' %}
<!-- <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0602/4976/8102/files/team.css?v=1674175257"> -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Style sheet -->
<!-- Google Fonts -->
<!-- FOnt Awesome -->
<script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Style sheet -->
<!-- Google Fonts -->
<!-- FOnt Awesome -->
<script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{{ 'team-camber-styles.css' | asset_url }}">

<script async src="../assets/team.js"></script>
<script src="{{ 'team.js' | asset_url }}" defer="defer"></script>

<style>
  .card {
    /* box-shadow: 2 2 black aliceblue; */
    /* margin: 1px; */
    padding: 5px;
    background-image: url(https://cdn.shopify.com/s/files/1/0602/4976/8102/files/Tanner.jpg?v=1674102821);
    -webkit-filter: blur(8px);
    opacity: .5;
    height: 100%;
    width: 100%;    
  }

  .outer-card {
    height: 300px;
    width: 400px;
    box-shadow: 1px 1px 5px 3px black;
    border-radius: 11px;
    position: relative;
    margin-bottom: 50px;
  }

  .image {
    {% comment %} position: relative;
    left: -100px;
    top: 200px; {% endcomment %}
  }

  .container {
    position: absolute;
    top: 5px;
    display: flex;
    left: 5px;
  }
</style>

<h1>Team Camber</h1>

<div id="div" class="team-members">

</div>

{% comment %} <div id="div" class="team-members">
    <div class="outer-card">
      <a href="/pages/test-page-1-asdfs-fsfs?a=1">

      <div class="member card">
      </div>
      <div class="container">
        <img
          src="https://cdn.shopify.com/s/files/1/0602/4976/8102/files/Tanner.jpg?v=1674102821"
          alt="Tanner McCartney"
          style="border-radius: 11px; width: 290px; border: solid white 1px;"
        >
        <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px; ">
          <h3 class="fit-content no-margin">
            Aaron <br>
            Signer
          </h3>
          <p class="fit-content no-margin">PDGA #777777</p>
        </div>
      </a>

      </div>
  </div> {% endcomment %}